body{
    font-family: 'Inter' , sans-serif;
    background-color: #BACBA9;
    background-size: cover;
  }
    hr{
      margin: auto;
      border-style: none;
      border-top: dotted;
      border-top-color: aliceblue;
      width: 120px;
    }
h1{
  color: #717568;
}
h2{
  color: #3f4739;
}